p {
  cursor: progress;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: white;
  font-style: italic;
}

::placeholder {
  color: white;
  font-style: italic;
}

.navbar-brand {
  font-family: 'Source Code Pro';
  font-weight: 500;
}

/* #carouselExampleFade {
  z-index: 9;
} */

.custom-overflow {
  overflow: clip;
}

.bg-Dark {
  background-color: rgb(1, 0, 1);
}

.transparent-background {
  background-color: inherit;
}

.button {
  font-family: 'El Messiri', sans-serif;
  font-weight: 500;
  color: white;
  border-color: #c304d7;
  justify-content: center;
  border-width: 2px;
}

.button:hover {
  background-color: #c304d7;
  border-color: #c304d7;
}

.button-whitepaper {
  font-family: 'El Messiri', sans-serif;
  font-weight: 300;
  color: white;
  background-color: #c304d7;
  justify-content: center;
  border-width: 2px;
}

.button-back-to-homepage {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  background-color: #c304d7;
  justify-content: center;
  border-width: 2px;
}

.button-back-to-homepage:hover {
  background-color: #9100a1;
  border-color: #9100a1;
}

.button-whitepaper:hover {
  background-color: #9100a1;
  border-color: #9100a1;
}

.button-about-us {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button-footer {
  font-family: 'El Messiri', sans-serif;
  font-weight: 300;
  color: white;
  background-color: #c304d7;
  justify-content: center;
  border-width: 2px;
}

.button-footer:hover {
  background-color: #9100a1;
  border-color: #9100a1;
}

.nav-button {
  font-family: 'El Messiri', sans-serif;
  font-weight: 500;
  color: white;
  background: linear-gradient(rgb(1, 0, 1), rgb(1, 0, 1)) padding-box,
    linear-gradient(to right, rgba(195, 4, 215, 0.7), rgba(0, 89, 255, 0.5))
      border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  justify-content: center;
  transition: background-image 0.5s ease-in-out;
}

.nav-button:hover {
  background: linear-gradient(
        to right,
        rgba(195, 4, 215, 0.7),
        rgba(0, 89, 255, 0.5)
      )
      padding-box,
    linear-gradient(to right, rgba(195, 4, 215, 0.7), rgba(0, 89, 255, 0.5))
      border-box;
  color: white;
}

.card-bg {
  background-color: rgb(15, 14, 14);
}

.heading-font {
  font-family: 'El Messiri', sans-serif;
  z-index: 20;
}

.card-img {
  height: 18vw;
}

#nightSky {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.pulsing-element {
  animation: pulse 1.5s infinite;
}

/* @keyframes logoAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }

  6.75% {
    transform: translate3d(0, 1.25px, 0);
  }

  12.5% {
    transform: translate3d(0, 2.5px, 0);
  }

  19.25% {
    tansform: translate3d(0, 3.75px, 0);
  }

  25% {
    transform: translate3d(0, 5px, 0);
  }

  31.75% {
    tansform: translate3d(0, 3.75px, 0);
  }

  37.5% {
    transform: translate3d(0, 2.5px, 0);
  }

  44.25% {
    transform: translate3d(0, 1.25px, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
  }

  56.75% {
    transform: translate3d(0, -1.25px, 0);
  }

  62.5% {
    transform: translate3d(0, -2.5px, 0);
  }

  69.25% {
    tansform: translate3d(0, -3.75px, 0);
  }

  75% {
    transform: translate3d(0, -5px, 0);
  }

  81.75% {
    tansform: translate3d(0, -3.75px, 0);
  }

  87.5% {
    transform: translate3d(0, -2.5px, 0);
  }

  93.25% {
    transform: translate3d(0, -1.25px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
} */

.enlarge-icon {
  width: 150%;
}

.logo-animation {
  animation: logoAnimation 2s infinite ease-in;
}

.scaleUp {
  transition: all 0.5s ease-in-out;
}

.scaleUp:hover {
  transform: scale(1.05);
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

.stats {
  color: rgb(233, 66, 162);
}

.outline-custom {
  color: rgb(233, 66, 162);
  background-color: transparent;
  border-color: rgb(233, 66, 162);
}

.outline-custom:hover {
  color: rgb(28, 27, 27);
  background-color: rgb(233, 66, 162);
  border-color: rgb(233, 66, 162);
}

.custom {
  color: white;
  background-color: rgb(233, 66, 162);
  border-color: rgb(233, 66, 162);
}

.custom:hover {
  background-color: rgb(186, 16, 113);
  border-color: rgb(186, 16, 113);
}

.stats-description {
  color: rgb(155, 157, 158);
}

.card-border {
  border-style: solid;
  border-width: 0px;
}

.left-card-animation.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.right-card-animation.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.fade-in-upwards {
  opacity: 0;
  transform: translate3d(0, 5rem, 0);
  transition: 1s all ease-in;
}

.fade-in-upwards.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 15rem, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -35px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-cards {
  animation: fadeUp 0.6s ease-in;
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  30% {
    opacity: 0.8;
    transform: translate3d(0, -50px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 15rem, 0);
  }
}

.deactivate {
  animation: fadeDown 0.7s ease-out;
}

.footer-border {
  border-top: 1px solid #c304d7;
}

.footer-img {
  width: 2.5vw;
  height: auto;
}

.custom-tooltip {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  opacity: 0.5;
  background-color: black;
  color: white;
}

.footer-link {
  font-weight: normal;
  color: white;
  transition: 0.4s all ease-in;
}

.footer-link:hover {
  color: #c304d7;
}

.footer-socials {
  background-color: #c304d7;
  transition: 0.4s all ease-in;
}

.footer-socials:hover {
  background-color: #9100a1;
}

.navbar-link-font {
  color: white;
  transition: 0.4s all ease-in;
}

.navbar-link-font:hover {
  color: #c304d7;
}

@keyframes slide-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-75%, 0, 0);
  }
}

@keyframes slide-right {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(55%, 0, 0);
  }
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 10vw, 0);
  }
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -7vw, 0);
  }
}

.not-found {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  min-height: 100vh;
  max-height: 120vh;
}

.not-found-left-gradient {
  position: absolute;
  top: -50%;
  left: -20%;
}

.not-found-right-gradient {
  position: absolute;
  top: 50%;
  right: -20%;
}

.Style1 {
  color: #0AA9CC;
  font-family: 'Poppins';
  font-size: 115px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: rotate(-14.085deg);
  text-shadow: 8px 8px #C205D7;
}

.Style2 {
  color: #0AA9CC;
  font-family: 'Poppins';
  font-size: 115px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: rotate(-2.447deg);
  text-shadow: 8px 8px #C205D7;
}

.Style3 {
  color: #0AA9CC;
  font-family: 'Poppins';
  font-size: 115px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: rotate(9.192deg);
  text-shadow: 8px 8px #C205D7;
}

.Style4 {
  color: #C304D7;
  font-family: 'Roboto';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.95px;
}

.Style5 {
  color: #C304D7;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0.95px;
}

.Style6 {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; 
  letter-spacing: 0.33px;
}

@media only screen and (min-height: 600px) {
  .Style1 {
    color: #0AA9CC;
    font-family: 'Poppins';
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-14.085deg);
    text-shadow: 9px 9px #C205D7;
  }
  
  .Style2 {
    color: #0AA9CC;
    font-family: 'Poppins';
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-2.447deg);
    text-shadow: 9px 9px #C205D7;
  }
  
  .Style3 {
    color: #0AA9CC;
    font-family: 'Poppins';
    font-size: 140px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(9.192deg);
    text-shadow: 9px 9px #C205D7;
  }
  
  .Style4 {
    color: #C304D7;
    font-family: 'Roboto';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.95px;
  }
  
  .Style5 {
    color: #C304D7;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.95px;
  }
  
  .Style6 {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; 
    letter-spacing: 0.33px;
  }
}

@media only screen and (min-width: 1200px) {

  .carousel-bottom-padding {
    padding-bottom: 7%;
  }

  .padding-roadmap-desc {
    padding: 0 0.9vw;
  }

  .style1 {
    font-size: 24px;
    font-family: 'El Messiri';
    font-weight: 500;
    color: white;
  }

  .style2 {
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }

  .style3 {
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }

  .roadmap-quarters {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }

  .card-body-height {
    height: 9vw;
  }

  .card-body-height-active {
    height: 24.5vw;
  }

  .card-height {
    height: 36.5vw;
  }

  .about-us-right-body {
    /* height: 70vh; */
    height: auto;
    max-height: 200vh;
  }

  .height-about-us {
    height: auto;
    max-height: 200vh;
  }

  .about-us-desc-height {
    height: auto;
    max-height: 150vh;
  }

  .navbar-link-font {
    font-size: 0.9vw;
  }

  .img-enlarge {
    height: 60vh;
  }

  .navbar-icon {
    max-width: 100px;
  }

  .font-enlarge {
    font-size: 4.8vw;
  }

  .about-us-margin {
    margin: 8% 9% 5%;
  }

  .tokenomics-width {
    width: 150%;
  }

  .stats-description {
    font-size: 1vw;
  }

  #roadmap {
    margin-top: 5vh;
    padding: 0 5% 0;
  }

  .footer-socials {
    padding: 0.45vw;
    margin: 0% 0.5%;
  }

  .footer-link {
    font-size: 0vw;
  }

  .lg-text {
    font-size: 1.2vw;
  }

  ::placeholder {
    font-size: 1vw;
    font-style: italic;
  }
}

@media only screen and (max-width: 1200px) {

  .carousel-bottom-padding {
    padding-bottom: 7%;
  }

  .padding-roadmap-desc {
    padding: 0 1.1vw;
  }

  .style1 {
    font-size: 20px;
    font-family: 'El Messiri';
    font-weight: 500;
    color: white;
  }

  .style2 {
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }

  .style3 {
    font-size: 10.5px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }

  .roadmap-quarters {
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
  }

  .card-body-height {
    height: 12.2vw;
  }

  .card-body-height-active {
    height: 24.5vw;
  }

  .card-height {
    height: 40vw;
  }

  .about-us-right-body {
    /* height: 73vh; */
    height: auto;
    /* height: ; */
    max-height: 200vh;
  }

  .height-about-us {
    /* height: 92vh; */
    height: auto;
    /* height: ; */
    max-height: 200vh;
  }

  .about-us-desc-height {
    height: auto;
    max-height: 150vh;
  }

  .navbar-link-font {
    font-size: 1.1vw;
  }

  .navbar-icon {
    max-width: 100px;
  }

  #roadmap {
    margin-top: 6rem;
  }

  .about-us-margin {
    margin: 8% 9% 0%;
  }

  .tokenomics-width {
    width: 96%;
  }

  .footer-socials {
    padding: 0.55vw;
  }
}

@media only screen and (min-width: 992px) {

  .carousel-bottom-padding {
    padding-bottom: 9%;
  }

  .slide-left.activate {
    animation: slide-left 0.3s ease-in-out;
  }

  .slide-left.reActivate {
    animation: slide-right 0.25s ease-in-out;
  }

  .style-svg {
    width: 7vw;
    height: 2.7vw;
  }

  .vector-text {
    text-transform: uppercase;
    font-size: 1.5vw;
  }

  .nav-button {
    font-size: 1.3vw;
  }

  .button {
    font-size: 2.5vh;
    padding: 1.45vh 0;
  }

  .button-whitepaper {
    font-size: 2.5vh;
    padding: 1.55vh 0;
  }

  .button-footer {
    font-size: 1.2vw;
    padding: 1.35vh 2.8vw;
    max-width: 11vw;
  }

  .intro-heading-font {
    font-size: 4.5vw;
    white-space: nowrap;
  }

  .intro-desc-font {
    font-size: 1.5vw;
    white-space: wrap;
  }

  .section-heading-font {
    font-size: 4vw;
    white-space: nowrap;
  }

  .card-desc {
    font-size: 1.2vw;
  }

  .card-Title {
    font-size: 2.3vw;
  }

  .card-Title-flex {
    font-size: 4vw;
  }

  .card-button-div {
    position: absolute;
    bottom: 0.5vw;
    left: 0;
    right: 0;
  }

  .padding-card-top {
    padding: 0vw 0.8vw;
  }

  .left-gradient {
    width: 35vw;
    height: 35vw;
    flex-shrink: 0;
    border-radius: 442px;
    opacity: 0.5;
    background: rgba(195, 4, 215, 0.8);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -10%;
    left: -25%;
  }

  .right-gradient {
    width: 35vw;
    height: 35vw;
    flex-shrink: 0;
    border-radius: 620px;
    opacity: 0.5;
    background: rgba(0, 89, 255, 0.5);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -10%;
    right: -25%;
  }

  .nav-padding {
    padding: 0% 6%;
  }

  .flex-products-padding {
    padding: 0% 10% 5%;
  }

  .intro-padding {
    padding-left: 7%;
  }

  .topMarginForRow {
    margin-top: 5rem;
  }

  .right-card-animation {
    opacity: 0;
    transform: translate3d(3rem, 0, 0);
    transition: 1s all ease-in;
  }

  .left-card-animation {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0);
    transition: 1s all ease-in;
  }

  #products {
    margin-top: 6rem;
  }

  #footer {
    background-color: rgba(25, 26, 24, 1);
    height: auto;
    padding: 0% 8vw 1vw;
  }

  .footer-text {
    font-size: 1.2vw;
    font-weight: 400;
  }

  .title-padding {
    padding-left: 35px;
  }

  .card-text {
    height: 114px;
  }

  .top-margin-tokenomics {
    margin-top: 6rem;
  }

  .row4 {
    padding: 1.5% 40%;
  }

  .top-margin-and-padding-reach-us {
    margin-top: 6rem;
    padding-top: 5rem;
  }

  .custom-input {
    border: 3px solid #c304d7;
    width: 22vw;
    height: 6.4vh;
    background-color: rgba(25, 26, 24, 1);
    color: white;
    padding-left: 1vw;
  }

  ::placeholder {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 992px) {

  .tokenomics-width {
    width: 86%;
  }

  .carousel-bottom-padding {
    padding-bottom: 10%;
  }

  .padding-roadmap-desc {
    padding: 0 1.7vw;
  }

  .slide-down.activate {
    animation: slide-down 0.3s ease-in-out;
  }

  .slide-down.reActivate {
    animation: slide-up 0.3s ease-in-out;
  }

  .style-svg {
    width: 7.4vw;
    height: 3vw;
  }

  .vector-text {
    text-transform: uppercase;
    font-size: 1.5vw;
  }

  .nav-button {
    font-size: 1.7vw;
  }

  .card-body-height {
    height: 15.8vw;
  }

  .card-body-height-active {
    height: 28.5vw;
  }

  .card-height {
    height: 48vw;
  }

  .card-button-div {
    position: absolute;
    bottom: 1vw;
    left: 0;
    right: 0;
  }

  .button {
    font-size: 1.7vw;
    padding: 0.8vw 3.2vw;
  }

  .button-whitepaper {
    font-size: 1.7vw;
    padding: 0.8vw 3.2vw;
  }

  .left-gradient {
    width: 45vw;
    height: 45vw;
    flex-shrink: 0;
    border-radius: 50vw;
    opacity: 0.8;
    background: rgba(195, 4, 215, 0.8);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -10%;
    left: -35%;
  }

  .right-gradient {
    width: 45vw;
    height: 45vw;
    flex-shrink: 0;
    border-radius: 50vw;
    opacity: 0.8;
    background: rgba(0, 89, 255, 0.5);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -10%;
    right: -25%;
  }

  .intro-heading-font {
    font-size: 4.6vw;
    white-space: nowrap;
  }

  .intro-desc-font {
    font-size: 1.7vw;
    white-space: wrap;
  }

  .section-heading-font {
    font-size: 4.5vw;
    white-space: nowrap;
  }

  .card-desc {
    font-size: 1.4vw;
  }

  .card-Title {
    font-size: 3.8vw;
  }

  .card-img {
    max-height: 20vw;
  }

  .topMarginForRow {
    margin-top: 3rem;
  }

  .intro-padding {
    padding-left: 0%;
  }

  .nav-padding {
    padding: 0% 4.8%;
  }

  .navbar-link-font {
    font-size: 1.4vw;
  }

  .about-us-margin {
    margin: 7% 4.7% 7%;
  }

  .about-us-right-body {
    height: auto;
    max-height: 200vw;
  }

  .height-about-us {
    height: auto;
    max-height: 200vw;
  }

  .about-us-desc-height {
    height: auto;
    max-height: 200vw;
  }

  .navbar-icon {
    max-width: 50px;
  }

  .title-padding {
    padding-left: 30px;
  }

  .flex-products-padding {
    padding: 0% 11%;
  }

  .left-card-animation {
    opacity: 0;
    transform: translate3d(-2rem, 0, 0);
    transition: 0.5s all ease-in;
  }

  .right-card-animation {
    opacity: 0;
    transform: translate3d(2rem, 0, 0);
    transition: 0.5s all ease-in;
  }

  #products {
    margin-top: 3rem;
    padding: 0% 5.5%;
  }

  #roadmap {
    margin-top: 3rem;
  }

  #footer {
    background-color: rgba(25, 26, 24, 1);
    height: auto;
    padding: 0% 8vw 1vw;
  }

  .img-adjust {
    max-width: 100px;
    height: auto;
    margin-left: 0;
    padding-left: 0;
  }

  .custom-input {
    border: 3px solid #c304d7;
    width: 20vw;
    height: 5vw;
    background-color: rgba(25, 26, 24, 1);
    color: white;
    padding-left: 1vw;
  }

  .button-footer {
    font-size: 1.5vw;
    padding: 1.3vw 2.5vw;
    max-width: 11vw;
  }

  .footer-socials {
    padding: 0.7vw;
  }
}

@media only screen and (max-width: 767px) {

  .padding-roadmap-desc {
    padding: 0 2.2vw;
  }

  .style-svg {
    width: 10vw;
    height: 5vw;
  }

  .vector-text {
    text-transform: uppercase;
    font-size: 1.8vw;
  }

  .padding-card-top {
    padding: 0vw 2.2vw;
  }

  .button {
    font-size: 2.2vw;
    padding: 0.8vw 3.2vw;
  }

  .button-whitepaper {
    font-size: 2.2vw;
    padding: 0.8vw 3.2vw;
  }

  .left-gradient {
    width: 60vw;
    height: 60vw;
    flex-shrink: 0;
    border-radius: 50vw;
    opacity: 0.8;
    background: rgba(195, 4, 215, 0.8);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -30%;
    left: -50%;
  }

  .right-gradient {
    width: 60vw;
    height: 60vw;
    flex-shrink: 0;
    border-radius: 50vw;
    opacity: 0.8;
    background: rgba(0, 89, 255, 0.5);
    filter: blur(225px);
    z-index: 3;
    position: absolute;
    top: -30%;
    right: -50%;
  }

  .navbar-link-font {
    font-size: 1.6vw;
  }

  .intro-heading-font {
    font-size: 7vw;
    white-space: nowrap;
  }

  .intro-desc-font {
    font-size: 2.6vw;
    white-space: wrap;
  }

  .section-heading-font {
    font-size: 6.3vw;
    white-space: nowrap;
  }

  .card-desc {
    font-size: 2.3vw;
  }

  .card-Title {
    font-size: 6vw;
  }

  .card-body-height {
    height: 23vw;
  }

  .card-body-height-active {
    height: 34vw;
  }

  .card-height {
    height: 62vw;
  }

  .intro-padding {
    padding-left: 5%;
  }

  /* .nav-padding {
    padding: 0% 3%;
  } */

  .flex-products-padding {
    padding: 10% 15%;
  }

  .left-card-animation {
    opacity: 0;
    transform: translate3d(-1rem, 0, 0);
    transition: 0.5s all ease-in;
  }

  .right-card-animation {
    opacity: 0;
    transform: translate3d(1rem, 0, 0);
    transition: 0.5s all ease-in;
  }

  #footer {
    background-color: rgba(25, 26, 24, 1);
    height: auto;
    padding: 5vw 3vw 1vw;
  }

  .title-padding {
    padding-left: 20px;
  }

  .card-img {
    height: 32vw;
  }

  .footer-socials {
    padding: 1.5vw;
  }

  .footer-text {
    font-size: 2.4vw;
    font-weight: 400;
  }

  .footer-logo {
    width: 25vw;
    height: auto;
  }

  .custom-input {
    border: 3px solid #c304d7;
    width: 100%;
    height: 6.4vh;
    background-color: rgba(25, 26, 24, 1);
    color: white;
    padding-left: 1vw;
  }

  .button-footer {
    font-size: 2vw;
    padding: 1.35vh 4.5vw;
    max-width: 40vw;
  }

  .footer-img {
    width: 3vw;
    height: auto;
  }

  .about-us-right-body {
    height: auto;
    max-height: 300vw;
  }

  .height-about-us {
    height: auto;
    max-height: 300vw;
  }

  .about-us-desc-height {
    height: auto;
    max-height: 72vw;
  }
}

@media only screen and (max-width: 576px) {

  .Style1 {
    color: #0AA9CC;
    font-family: 'Poppins';
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-14.085deg);
    text-shadow: 10px 10px #C205D7;
  }
  
  .Style2 {
    color: #0AA9CC;
    font-family: 'Poppins';
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-2.447deg);
    text-shadow: 10px 10px #C205D7;
  }
  
  .Style3 {
    color: #0AA9CC;
    font-family: 'Poppins';
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(9.192deg);
    text-shadow: 10px 10px #C205D7;
  }
  
  .Style4 {
    color: #C304D7;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.95px;
  }
  
  .Style5 {
    color: #C304D7;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.95px;
  }
  
  .Style6 {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; 
    letter-spacing: 0.33px;
  }

  .style1 {
    font-size: 28px;
    font-family: 'El Messiri';
    font-weight: 500;
    color: white;
  }

  .style2 {
    font-size: 19px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }

  .style3 {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;
  }

  .roadmap-quarters {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
  }

  .padding-roadmap-desc {
    padding: 0 4vw;
  }

  .carousel-bottom-padding {
    padding-bottom: 0%;
  }

  .style-svg {
    width: 13vw;
    height: 5vw;
  }

  .vector-text {
    text-transform: uppercase;
    font-size: 2.3vw;
  }

  #products {
    margin-top: 5%;
  }

  .padding-card-top {
    padding: 0vw 3vw;
  }

  .button {
    font-size: 4vw;
    padding: 1vw 3.4vw;
  }

  .button-whitepaper {
    font-size: 4vw;
    padding: 1vw 3.4vw;
  }

  .left-gradient {
    width: 65vw;
    height: 65vw;
    flex-shrink: 0;
    border-radius: 50vw;
    opacity: 0.8;
    background: rgba(195, 4, 215, 0.8);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -10%;
    left: -35%;
  }

  .right-gradient {
    width: 65vw;
    height: 65vw;
    flex-shrink: 0;
    border-radius: 50vw;
    opacity: 0.8;
    background: rgba(0, 89, 255, 0.5);
    filter: blur(225px);
    z-index: 4;
    position: absolute;
    top: -10%;
    right: -25%;
  }

  .about-us-margin {
    margin-top: 15%;
  }

  .nav-padding {
    padding: 5% 2%;
  }

  .navbar-link-font {
    font-size: 2.5vw;
  }

  .intro-heading-font {
    font-size: 11vw;
    white-space: nowrap;
  }

  .intro-desc-font {
    font-size: 3.9vw;
    white-space: wrap;
  }

  .section-heading-font {
    font-size: 9vw;
    white-space: nowrap;
  }

  .card-desc {
    font-size: 3.4vw;
  }

  .card-Title {
    font-size: 8vw;
  }

  .card-img {
    max-height: 56vw;
  }

  .card-height {
    height: 95vw;
  }

  .flex-products-padding {
    padding: 10% 15%;
  }

  .card-body-height {
    height: 33vw;
  }

  .card-body-height-active {
    height: 76vw;
  }

  .footer-text {
    font-size: 2.8vw;
    font-weight: 400;
  }

  ::placeholder {
    font-size: 3vw;
  }

  .custom-input {
    border: 3px solid #c304d7;
    width: 80vw;
    height: 6.4vh;
    background-color: rgba(25, 26, 24, 1);
    color: white;
    padding-left: 1vw;
  }

  .button-footer {
    font-size: 4vw;
    padding: 0.8vh 4.35vw;
    max-width: 50vw;
  }

  .footer-socials {
    padding: 3vw;
  }

  .footer-img {
    width: 3vw;
    height: auto;
  }

  .about-us-right-body {
    padding-bottom: 3vh;
    height: auto;
    max-height: 300vh;
  }

  .height-about-us {
    height: auto;
    max-height: 300vh;
  }

  .about-us-desc-height {
    height: auto;
    max-height: 120vh;
  }
}
